@keyframes spinning
  0%
    transform: rotate(0deg)
    opacity: 1
  50%
    opacity: 0.3
  100%
    transform: rotate(360deg)
    opacity: 1

body
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  background-color: #5c92eb
  padding: 1%
  text-align: center
  .only-title
    font-size: 2em
    i
      font-size: 2em
  .card
    display: none
    flex-direction: column
    justify-content: space-around
    align-items: center
    padding: 0
    border: none
    background-color: #00000000
    width: 300px
    min-width: 300px
    height: 50vh
    margin: auto
    .result
      width: 300px
      padding-top: 1em
      display: none
      background-color: #ffffff5e
      border-radius: 5%
      user-select: none
      height: 50vh
      visibility: hidden
      .degree
        padding: 0
      .name
        font-size: 1.3em
        #name
          font-size: 1em
      .temp
        font-size: 4em
        #temp
          padding-left: 14px
      .min
        font-size: 1.4em
        padding-right: 10px
      .max
        font-size: 1.4em
        padding-left: 10px
        #max
          padding-left: 5px
      .hum
        font-size: 1.4em
        #hum
          padding-right: 5px
          padding-left: 5px
  #error
    display: none
  #spinner
    margin: 0 auto
    animation-name: spinning
    animation-duration: 2s
    animation-iteration-count: infinite
    animation-timing-function: linear
    position: absolute
    font-size: 7em
    top: 25%
  .input
    padding: 0
    width: 300px
    margin: 10% auto
    min-width: 300px
    .btn-group
      margin: 0 auto
      width: 300px
    input
      margin: 0 auto
      width: 300px
      height: 4em
      border: none
      border-bottom-left-radius: 25px
      border-bottom-right-radius: 25px
      text-align: center
      font-weight: bolder
      outline: none
      font-size: 1.4em
      background-color: #ffffff5b
      spell


